* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 135px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

header img {
  width: 65vw;
  margin-bottom: .375rem;
}

header p {
  font-size: 1.25rem;
}

nav {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.75), 2px 0 10px rgba(0, 0, 0, 0.75);
  z-index: 5;
}

nav ul {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

nav ul li {
  list-style: none;
  width: calc(.75rem * 10);
  height: 100%;
}

nav ul li a {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a.active {
  color: lightskyblue;
}

nav ul li a:hover, nav ul li a.active:hover {
  color: pink;
  /* box-shadow: -2px 0 30px rgba(0, 0, 0, 0.5), 2px 0 30px rgba(0, 0, 0, 0.5); */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

main #hero {
  margin: 0 0 2rem;
  width: 100%;
  height: 45vw;
  background-image: url(../assets/pearl_necklace.jpg);
  background-size: cover;
  background-position: bottom right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: -1;
}

main #hero .hero-txt {
  width: 100%;
  text-align: right;
  margin-right: 5vw;
  margin-bottom: 4vw;
}

main #hero .hero-txt h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 4.5vw;
  color: pink;
  text-shadow: 2px 2px 12px black;
}

main #hero .hero-txt p {
  color: whitesmoke;
  font-size: 2vw;
  text-shadow: 2px 2px 12px black;
}

main #recents {
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem 0 2.5rem;
}

article {
  flex: 0 0 400px;
  border: 1px solid lightgray;
  margin: .25rem .25rem 2.25rem;
  overflow: hidden;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.45);
}

article:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}

article .art-img img {
  width: 100%;
}

article .art-body {
  background-color: white;
  padding: 1rem .75rem 1.25rem;
}

article .art-body h2 {
  color: #3c3c3c;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
  margin-bottom: .75rem;
}

footer {
  width: 100%;
  background: #1c1c1c;
}

footer .ftr-body {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 3.25rem;
  margin: 0 auto;
}

footer .btm-logo {
  padding: .375rem .25rem .25rem;
  /* margin-right: 5rem; */
}

footer .btm-logo img {
  height: 100px;
}

footer .copyright {
  color: white;
  font-weight: 300;
  line-height: 1.5;
  text-align: right;
}

footer .copyright a {
  text-decoration: none;
  color: lightskyblue;
}

footer .copyright a:hover {
  color: yellow;
}
